<% for(var i = 0; i < templates.length; i++) { %>
<tr>
    <td><%= templates[i].templete_name %></td>
    <td><%= templates[i].frequency %></td>
    <td><%= templates[i].email_subject %></td>
    <td><%= templates[i].email_body %></td>
    <td><%= templates[i].status %></td>
    <td>
        <a href="/update-user?id=<%= templates[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= templates[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>